/**{
    font-size: 50px;
    color: hotpink;
}*/
/*h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
}
h1{
    background-color: indigo;
}
p{
    text-align: center;
}*/

/*h1,h2,h3,h4,h5,h6{
    color: red;
}
h1{
    font-size: 78px;
}*/

/*p.parrafo{
    color: white;
    font-size: 48px;
    background-color: black;
}
.parrafo2{
    font-size: 24px;

}
#identificador{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: chartreuse;
}*/

/*p a{
    background-color: aqua;
}*/

/*h1 > a{
    color: coral;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
}
p > a{
    color: firebrick;
    font-size: 72px;
}*/

/*h2+h3{
    color: fuchsia;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}*/
[class]{
    color: red;
    font-size: 48px;
    background-color: palevioletred;
}
[class="parrafo"]{
    color: green;
    font-weight: bold;
}